@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@model IEnumerable<GuestResponse>
<table>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Name</td>
            <td>@k.Email</td>
            <td>@k.Phone</td>
            <td>@k.WillAttend</td>
        </tr>    
    }
</table>
<div>
    <a asp-action="Invite" asp-controller="Home">Invite</a>
</div>